.terms {
  background-color: var(--backModal);
  padding: 20px 0 60px 0;
}

.page {
  position: relative;
  padding: 6.25rem 0;
  overflow-x: hidden;
  &_contacts {
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("./images/contactsBg.png");
  }
  &_list {
    padding-top: 2rem;
  }
  &__date {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-style: italic;
    font-weight: 500;
    font-size: (0.6rem, 2vw, 0.75rem);
    line-height: 3.25rem;
    color: var(--textSecond);
    margin-bottom: 0.9375rem;
    white-space: nowrap;
  }
}

.link {
  background: var(--mainGradient);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.title {
  font-weight: bold;
  font-size: clamp(1.3rem, 1.5vw, 1.6rem);
  line-height: 2rem;
  color: var(--white);
  text-align: center;
  margin-bottom: 0.8rem;
  &-big {
    text-align: center;
    font-style: normal;
    font-weight: bold;
    font-size: clamp(2.2rem, 1.5vw, 3rem);
    line-height: 2.5rem;
    color: #ffffff;
    margin-bottom: 10px;
  }
}

.content {
  margin-bottom: 1.3rem;
  text-align: justify;
  & p {
    margin: 0 0 0.8rem;
    text-align: justify;
    text-indent: 2rem;
  }
  &__link {
    position: relative;
    &::before {
      content: "";
      position: absolute;
      left: 0.625rem;
      top: 0.375rem;
      height: 0.625rem;
      background-color: var(--fiolet);
      width: 0.625rem;
      border-radius: 50%;
    }
  }
}

@media (max-width: 992px) {
  .page {
    &_contacts {
      background-position: top center;
    }
  }
}

@media (max-width: 900px) {
  .content {
    & p {
      line-height: 1.4rem;
    }
  }
}
