.lenta{
  margin: 0 auto;
  max-width: 800px;

  &-item{
    height: 75vh;
    border-radius: var(--borderR);
    border: 1px solid var(--border-color);

    &__header{
      border-top-right-radius: var(--borderR);
      border-top-left-radius: var(--borderR);
      padding: 0.7rem 1rem;
      background: var(--backSecond);
      display: grid;
      grid-template-columns: 5rem 1fr;
      

      &-info{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      &-title{
        font-weight: 500;
      }
    }

    &__body{
      position: relative;
      width: 100%;

      video{
        width: 100%;
        // height: auto;
        height: 500px;
        max-height: 100%;
      }
    }
  }
}

.user-circle{
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background-image: var(--mainGradient);
}