.back {
  background: var(--back);
  border-bottom: 1px solid var(--border-colorH);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 5;
  padding: 0.5rem 0;

  &-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &_arrow {
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;

      .i {
        font-size: 1.5rem;
      }
    }
  }

  &-title {
    font-size: 1.25rem;
  }

  &-ellipsis {
    position: relative;
    cursor: pointer;

    &::after {
      position: absolute;
      content: '...';
      font-size: 3rem;
      top: 0;
      left: 0;
      transform: translate(-100%, -70%);
    }

    &:hover {
      &::after {
        color: #363B4B;
        transform-origin: 1s;
        transition-delay: 1s;

        transition: 1s;
      }
    }
  }
}