.listExchange {
  max-width: 1240px;
  margin: 0 auto;
  // padding-bottom: 100px;
  padding: 60px 5% 80px 5%;
  position: relative;

  &_lineB {
    position: absolute;
    bottom: 0px;
    height: 400px;
    right: 0;
    z-index: -1;
  }

  &_favourites {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &_icon {
    width: 20px;
    height: 20px;
  }

  &__table {

    &_wrapper {
      // height: 630px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    &-head {
      font-size: 18px;

      .listExchange_table_row {
        background: var(--back_opacity);
        border-top-left-radius: var(--borderR);
        border-top-right-radius: var(--borderR);
      }
    }

    &-row {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      // border: 1px solid var(--borderR);

      th,
      td {
        padding: 10px 15px;
      }

      .bgMW {
        background: #1d2029;
        min-width: 150px
      }

      // &:hover {
      //   background: var(--back_opacity);
      // }
    }

    &-name,
    &-coins,
    &-filter {
      display: flex;
      align-items: center;
      justify-content: center;
      // padding: 0 15px;
    }

    .coins_wrap {
      margin-top: 10px;
      // display: flex;
      // align-items: center;
    }

    &-index,
    &-btn {
      display: flex;
      align-items: center;
      justify-content: end;
    }

    &-filter {
      justify-content: flex-end;

      img {
        cursor: pointer;
        width: 35px;
        height: 35px;
      }
    }

    &-btn {
      .btn {
        max-width: 300px;
        width: 100%;
        text-align: center;
      }
    }

    .coins_wrap {
      &_item {
        // transform: translateX(-5px);
        width: 32px;
        height: 32px;
        transition: all ease-in-out 0.3s;

        &:hover {
          transform: translateY(-10px);
        }
      }

      // &_item:first-child {
      //   transform: translateX(0);
      // }
    }



    // &_body {
    //   font-size: 16px;
    //   font-weight: 500;
    //   border: 1px solid var(--border);
    //   border-top: none;
    //   border-bottom-left-radius: var(--borderR);
    //   border-bottom-right-radius: var(--borderR);

    //   .listExchange_table_row:not(:last-child) {
    //     border-bottom: 1px solid var(--border)
    //   }
    // }

    &-coins {
      display: flex;
    }
  }

  // .disable-tableName {
  //   display: block;
  // }

  @media (max-width: 700px) {
    .filterShow {
      display: flex;
      justify-content: center;
      align-items: center;
      padding-bottom: 15px;
      cursor: pointer;
    }

    .bgMW {
      background: #3b3d49;
      min-width: 150px
    }

    .listExchange__table-row {
      display: none;
    }

    .disable-tableName {
      display: none !important;
    }

    .table_body {
      border: none;
    }

    .table_row {
      margin-bottom: 10px;
      background: #3b3d49;
      border-radius: var(--borderR);
    }

  }
}
@media(max-width: 700px) {
  .listExchange {
    padding-top: 5px;
  }
}

@media (max-width: 650px) {
  .disable-tableName {
    display: none !important;
  }

  .listExchange__table-row {
    grid-template-columns: 1fr;
    grid-auto-flow: row;
  }

  .listExchange__table-index,
  .listExchange__table-btn {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .listExchange_table_coins {
    justify-content: center;
    display: flex;
  }
  .listExchange__table-name,
  .listExchange__table-coins {
    display: flex;
    justify-content: center;
    // /* align-items: center; */
  }
}

.filterShow {
  display: none;
}