.new {
  padding-bottom: 6.5rem;

  &-title {
    text-align: center;
    padding: 0.8rem 0;
    line-height: clamp(1.5rem, 3.5vw, 3.5rem);
    font-size: clamp(1.1rem, 3vw, 2.5rem);
  }

  &-preview {
    font-size: clamp(1rem, 3vw, 1.15rem);
  }

  &-content {
    margin-top: 1rem;
    font-size: 1.2rem;

    &__text {
      margin-top: 0.5rem;
      font-size: clamp(1rem, 3vw, 1.15rem);

      p {
        padding-bottom: 0.5rem;
      }
    }
  }

  &-img {
    width: 50%;
    float: left;
    max-height: max-content;
    margin: 0 1.3rem 1.3rem 0;

    img {
      width: 100%;
      border-radius: var(--borderR);
    }
  }

  &-statistic {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--textSecond);
    width: 100%;

    &__el {
      display: flex;
      align-items: center;
      gap: 0.3rem;
    }
  }
}

@media(max-width: 600px) {
  .new {
    &-img {
      width: 100%;
    }
  }
}

.cat {
  position: relative;

  &-tabs {
    display: flex;
    align-items: center;
    gap: 1.25rem;

    &__item {
      white-space: nowrap;
      font-size: 1rem;
      padding: 0.5rem 1rem;
      border-radius: 1.3rem;
      border: 1px solid var(--border-color);
      cursor: pointer;
      background: #363B4B;
      font-weight: 500;
      transition: var(--tran-03);
    }
  }
}