.news {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 1.2rem;
  padding-bottom: 6.5rem;

  &__item {
    background: var(--backSecond);
    border-radius: var(--borderR);
    padding: var(--p) var(--p) calc(var(--p) * 3) var(--p);
    border: 1px solid var(--border-color);
    position: relative;
    cursor: pointer;

    &-img {
      img {
        border-radius: var(--borderR);
        object-fit: cover;
        height: 100%;
        width: 100%;
      }
    }

    &-title {
      -webkit-line-clamp: 1;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      overflow: hidden;
      padding-top: 1rem;
      margin-bottom: 1rem;
    }

    &-desc {
      font-weight: 500;
      -webkit-line-clamp: 3;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      overflow: hidden;
      align-self: flex-end;
    }

    &-statistic {
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: absolute;
      left: var(--p);
      right: var(--p);
      bottom: var(--p);
      color: var(--textSecond);

      &-el {
        display: flex;
        align-items: center;
        gap: 0.3rem;
      }
    }
  }
}

.new {
  padding-bottom: 6.5rem;

  &-title {
    text-align: center;
    padding: 0.8rem 0;
    line-height: clamp(1.5rem, 3.5vw, 3.5rem);
    font-size: clamp(1.1rem, 3vw, 2.5rem);
  }

  &-preview {
    font-size: clamp(1rem, 3vw, 1.15rem);
  }

  &-content {
    margin-top: 1rem;
    font-size: 1.2rem;

    &__text {
      margin-top: 0.5rem;
      font-size: clamp(1rem, 3vw, 1.15rem);

      p {
        padding-bottom: 0.5rem;
      }
    }
  }

  &-img {
    width: 50%;
    float: left;
    max-height: max-content;
    margin: 0 1.3rem 1.3rem 0;

    img {
      width: 100%;
      border-radius: var(--borderR);
    }
  }

  &-statistic {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--textSecond);
    width: 100%;

    &__el {
      display: flex;
      align-items: center;
      gap: 0.3rem;
    }
  }
}

@media(max-width: 600px) {
  .new {
    &-img {
      width: 100%;
    }
  }
}