.i {
  font-family: 'cemicons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  font-size: 1.3rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.i-dislikeFull:before {
  content: "\e900";
}

.i-add:before {
  content: "\e901";
}

.i-arrow-left:before {
  content: "\e902";
}

.i-arrow-right:before {
  content: "\e903";
}

.i-burger:before {
  content: "\e904";
}

.i-calendar:before {
  content: "\e905";
}

.i-cancel:before {
  content: "\e906";
}

.i-cem:before {
  content: "\e907";
}

.i-comment:before {
  content: "\e908";
}

.i-discord:before {
  content: "\e909";
}

.i-edit:before {
  content: "\e90a";
}

.i-facebook:before {
  content: "\e90b";
}

.i-faq:before {
  content: "\e90c";
}

.i-github:before {
  content: "\e90d";
}

.i-info:before {
  content: "\e90e";
}

.i-inst:before {
  content: "\e90f";
}

.i-lang:before {
  content: "\e910";
}

.i-lenta:before {
  content: "\e911";
}

.i-likeFull:before {
  content: "\e912";
}

.i-linkedin:before {
  content: "\e913";
}

.i-lock:before {
  content: "\e914";
}

.i-messanger:before {
  content: "\e915";
}

.i-micro:before {
  content: "\e916";
}

.i-notice:before {
  content: "\e917";
}

.i-notice-empty:before {
  content: "\e918";
}

.i-qa:before {
  content: "\e919";
}

.i-reset:before {
  content: "\e91a";
}

.i-speed:before {
  content: "\e91b";
}

.i-telegram:before {
  content: "\e91c";
}

.i-tiktok:before {
  content: "\e91d";
}

.i-trash:before {
  content: "\e91e";
}

.i-twitter1:before {
  content: "\e91f";
}

.i-user:before {
  content: "\e920";
}

.i-vk1:before {
  content: "\e921";
}

.i-youtube1:before {
  content: "\e922";
}

.i-camera:before {
  content: "\e923";
}

.i-music:before {
  content: "\e924";
}

.i-play:before {
  content: "\e926";
}

.i-copy:before {
  content: "\e925";
}

.i-phone:before {
  content: "\e942";
}

.i-location:before {
  content: "\e947";
}

.i-compass:before {
  content: "\e949";
}

.i-alarm:before {
  content: "\e950";
}

.i-database:before {
  content: "\e964";
}

.i-undo1:before {
  content: "\e965";
}

.i-redo1:before {
  content: "\e966";
}

.i-undo:before {
  content: "\e967";
}

.i-redo:before {
  content: "\e968";
}

.i-forward:before {
  content: "\e969";
}

.i-reply:before {
  content: "\e96a";
}

.i-bubble:before {
  content: "\e96b";
}

.i-bubbles2:before {
  content: "\e96d";
}

.i-users:before {
  content: "\e972";
}

.i-quotes-left:before {
  content: "\e977";
}

.i-quotes-right:before {
  content: "\e978";
}

.i-spinner:before {
  content: "\e97f";
}

.i-wrench:before {
  content: "\e991";
}

.i-equalizer-h:before {
  content: "\e992";
}

.i-equalizer-v:before {
  content: "\e993";
}

.i-settings:before {
  content: "\e994";
}

.i-settings2:before {
  content: "\e995";
}

.i-pie-chart:before {
  content: "\e99a";
}

.i-trash2:before {
  content: "\e9ac";
}

.i-power:before {
  content: "\e9b5";
}

.i-cloud-check:before {
  content: "\e9c4";
}

.i-link:before {
  content: "\e9cb";
}

.i-attachment:before {
  content: "\e9cd";
}

.i-star-empty:before {
  content: "\e9d7";
}

.i-star-full:before {
  content: "\e9d9";
}

.i-heart:before {
  content: "\e9da";
}

.i-plus:before {
  content: "\ea0a";
}

.i-minus:before {
  content: "\ea0b";
}

.i-play3:before {
  content: "\ea1c";
}

.i-pause2:before {
  content: "\ea1d";
}

.i-backward2:before {
  content: "\ea1f";
}

.i-forward3:before {
  content: "\ea20";
}

.i-volume-high:before {
  content: "\ea26";
}

.i-volume-medium:before {
  content: "\ea27";
}

.i-volume-low:before {
  content: "\ea28";
}

.i-volume-mute1:before {
  content: "\ea29";
}

.i-volume-mute:before {
  content: "\ea2a";
}

.i-arrow-down-right1:before {
  content: "\ea35";
}

.i-arrow-down-left1:before {
  content: "\ea37";
}

.i-arrow-up-left:before {
  content: "\ea39";
}

.i-arrow-up:before {
  content: "\ea3a";
}

.i-arrow-up-right:before {
  content: "\ea3b";
}

.i-arrow-right2:before {
  content: "\ea3c";
}

.i-arrow-down-right:before {
  content: "\ea3d";
}

.i-arrow-down:before {
  content: "\ea3e";
}

.i-arrow-down-left:before {
  content: "\ea3f";
}

.i-arrow-left2:before {
  content: "\ea40";
}

.i-embed2:before {
  content: "\ea80";
}

.i-terminal:before {
  content: "\ea81";
}

.i-share:before {
  content: "\ea82";
}

.i-google-plus3:before {
  content: "\ea8d";
}

.i-facebook2:before {
  content: "\ea91";
}

.i-instagram:before {
  content: "\ea92";
}

.i-whatsapp:before {
  content: "\ea93";
}

.i-twitter:before {
  content: "\ea96";
}

.i-vk:before {
  content: "\ea98";
}

.i-youtube:before {
  content: "\ea9d";
}

.i-youtube2:before {
  content: "\ea9e";
}

.i-onedrive:before {
  content: "\eaaf";
}

.i-apple:before {
  content: "\eabe";
}

.i-android:before {
  content: "\eac0";
}