.i {
  font-family: 'cemicons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  font-size: 1.2rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.i-arrow-left:before {
  content: "\e902";
}

.i-arrow-right:before {
  content: "\e903";
}

.i-discord:before {
  content: "\e904";
}

.i-edit:before {
  content: "\e905";
}

.i-facebook:before {
  content: "\e906";
}

.i-github:before {
  content: "\e907";
}

.i-inst:before {
  content: "\e908";
}

.i-lang:before {
  content: "\e909";
}

.i-linkedin:before {
  content: "\e90a";
}

.i-telegram:before {
  content: "\e90b";
}

.i-tiktok:before {
  content: "\e90c";
}

.i-vk:before {
  content: "\e90d";
}

.i-youtube:before {
  content: "\e90e";
}

.i-i-github:before {
  content: "\e900";
}

.i-i-lang:before {
  content: "\e901";
}