@import "./mixins.scss";

.disable_scroll {
  position: relative;
  overflow: hidden;
  height: 100vh;
}

.wrapper {
  max-width: 1240px;
  margin: 0 auto;

  @media (max-width: 1240px) {
    padding: 0 1rem;
  }
}

.text {
  &-left {
    text-align: left;
  }

  &-center {
    text-align: center;
  }

  &-right {
    text-align: right;
  }

  &_important {
    font-size: clamp(1rem, 2vw, 1.125rem);
    line-height: 1.375rem;
    font-weight: 700;
    background: var(--mainGradient);
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.general__title {
  font-size: clamp(2rem, 2vw, 2.75rem);
  line-height: 3.625rem;
  font-weight: 700;
  margin: 0.625rem 0 1.5625rem 0;
  text-align: center;
}

.hide {
  // opacity: 0;
  // user-select: none;
  display: none !important;
}

.list {
  &__item {
    padding: 0.6rem 0.9rem;
    border-radius: var(--borderR);
    border: 1px solid #474c5a;
    margin: 0 5px;
    display: flex;
    align-items: center;
    gap: 10px;
    box-shadow: 1px 6px 0px -4px rgba(0, 0, 0, 0.15), 3px 4px 4px -1px rgba(0, 0, 0, 0.15);
    background-color: rgba(255, 255, 255, 0.07);
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, border 0.3s ease-in-out, transform 0.3s ease-in-out;

    &:hover {
      background-color: transparent;
      border: 1px solid rgba(150, 150, 150, 0.5);
      transform: scale(1.01);
    }

    &:active {
      transform: scale(0.98);
    }

    &:not(:last-child) {
      margin-bottom: 0.5rem;
    }

    &-img {
      width: 2rem;
    }
  }
}

// Step by step. Look modal registration
.steps {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;

  &_circle {
    position: relative;
    z-index: 1;
    height: 3.125rem;
    width: 3.125rem;
    border-radius: 50%;
    border: 3px solid #e0e0e0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--backModal);
    color: #999;
    font-weight: 700;
    font-size: clamp(1rem, 5vw, 1.25rem);
    transition: border 0.3s ease-in-out, color 0.3s ease-in-out;

    &__active {
      border-color: var(--fiolet);
      color: var(--fiolet);
    }
  }

  &_progress {
    position: absolute;
    height: 3px;
    width: 100%;
    background: #e0e0e0;
    z-index: 0;
  }

  &_indicator {
    position: absolute;
    height: 4px;
    width: 0%;
    background: var(--fiolet);
    transition: width 0.3s ease-in-out;
  }

  @media(max-width: 464px) {
    &_circle {
      height: 2.5rem;
      width: 2.5rem;
      border-width: 2px;
    }

    &-progress {
      height: 2px;
    }
  }
}

.btn {
  border-radius: var(--btnR);
  border: none;
  outline: none;
  padding: 0.8rem 1rem;
  cursor: pointer;
  transition: all 0.2s ease-out;
  white-space: nowrap;
  @include button(var(--mainGradient), fit-content, 3.2rem, 125%, 1rem, var(--white));

  span {
    height: 100%;
    display: block;
  }

  &:hover {
    background-position: right;
  }

  &:active {
    transform: scale(0.97);
  }

  &_dark {
    padding: 0.5rem 0.6rem;
    border: 1px solid transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.3rem;
    transition: var(--tran-03);
    @include button(var(--back700), fit-content, fit-content, 125%, 1rem, var(--slate-300));

    .i {
      display: block;
      font-size: 0.85rem;
    }

    &:hover {
      border: 1px solid var(--border-color);
      color: var(--white);
    }
  }

  &_border {
    @include button(var(--black-gray), 100%, 2.625rem, 100%, 1rem, var(--white));
    border-radius: var(--btnR);
    overflow: hidden;
    line-height: 2.625rem;
    text-align: center;
    outline: none;
    border: none;
    font-weight: 600;
    cursor: pointer;
    position: relative;
    z-index: 1;

    &:hover {
      &::before {
        opacity: 1;
      }
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      opacity: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      background: var(--mainGradient);
      transition: all 0.3s ease-in-out;
    }

    &-wrap {
      background: var(--mainGradient);
      margin: 0 auto;
      padding: 0.0725rem;
      border-radius: var(--btnR);
      width: 12.625rem;
    }
  }

  &_passive {
    pointer-events: none;
    cursor: default;
    opacity: 0.7;
  }

  &_reset {
    filter: grayscale(1);
  }
}

.tooltip {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: relative;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 0.3s ease-in-out;

  &::before {
    content: "?";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #8d9098;
    font-size: 16px;
    font-weight: 700;
    transition: color 0.3s ease-in-out;
  }

  &-content {
    width: 250px;

    border: 1px solid #474c5a;
    box-shadow: 1px 6px 0px -4px rgba(0, 0, 0, 0.15), 3px 4px 4px -1px rgba(0, 0, 0, 0.15);

    position: absolute;
    top: 10px;
    right: -75px;
    transform: translate(-50%, -50%) translateZ(10px);
    padding: 15px;
    border-radius: var(--borderR);
    background: var(--backModal);
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.3s ease-in-out, opacity 0.3s ease-in-out;

    &_text {
      font-size: 14px;
      font-weight: 500;
      line-height: 1.4;
      transform: translateZ(20px);
    }

    &::before {
      content: "";
      position: absolute;
      width: 15px;
      height: 15px;
      z-index: -1;
      border-top: 1px solid #474c5a;
      border-right: 1px solid #474c5a;
      background: var(--backModal);
      top: 50%;
      right: 0;
      transform: translateX(50%) rotate(45deg);
    }

    &__active {
      visibility: visible;
      opacity: 1;
    }
  }

  &:hover {
    background-color: rgba(255, 255, 255, 0.15);

    &::before {
      color: var(--white);
    }
  }
}

.notFound {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0.5rem;
}


.border {
  &_success {
    border: 1px solid var(--green700);
  }
}

.table {
  width: 100%;
  border-collapse: collapse;
  position: relative;

  &_favourites {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &_icon {
    width: 20px;
    height: 20px;
  }

  &_head {
    font-size: 18px;

    .table_row {
      height: 55px;
      background: var(--back_opacity);
      border-top-left-radius: var(--borderR);
      border-top-right-radius: var(--borderR);
    }
  }

  &_row {
    display: grid;
    align-items: center;

    th,
    td {
      padding: 10px 15px;
    }

    &_category {
      .category-carousel {
        padding: 0;
      }
    }
  }

  &_graph {
    display: flex;
    justify-content: center;
  }

  &_index,
  &_name,
  &_coins,
  &_filter {
    display: flex;
    align-items: center;
  }

  &_rating,
  &_btn,
  &_soon,
  &_center {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &_body {
    font-size: 16px;
    font-weight: 500;

    border-radius: var(--borderR);
    -webkit-border-radius: var(--borderR);
    -moz-border-radius: var(--borderR);
    -khtml-border-radius: var(--borderR);
    border: 1px solid var(--border);
    display: block;

    .table_row:not(:last-child) {
      border-bottom: 1px solid var(--border);
    }
  }

  &_trades {
    &_row {
      grid-template-columns: 40px 40px 1fr 150px 1fr 1fr;
    }
  }

  &_partner {
    .table_body {
      .table_partner_row {
        display: grid;
        grid-template-columns: 80px 1fr 0.5fr 0.5fr 0.5fr;
      }
    }

    &_row {
      cursor: pointer;
      transition: all 0.3s ease;

      &:hover {
        transform: scale(0.98);
      }
    }
  }
}

.p {
  &-relative {
    position: relative;
  }

  &-absolute {
    position: absolute;
  }

  .p-fixed {
    position: fixed;
  }
}

.fz1 {
  font-size: 1rem;
}

.border {
  &-top-none {
    border-top: none !important;
  }
}