.listTrade {
  // padding-bottom: 100px;
  padding-top: 60px;
  position: relative;

  &-btnListTrade {
    cursor: pointer;
    margin-left: 10px;
  }

  &__table-wrapper {
    // height: 630px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__table {

    &__head {
      font-size: 18px;
    }

    &__row {
      display: grid;
      align-items: center;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      // border: 1px solid var(--borderR);

      th {
        padding: 10px 0;
      }

      td {
        padding: 10px 15px;
      }
    }

    &__filter {
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        cursor: pointer;
        width: 35px;
        height: 35px;
      }
    }

    &__btn {
      display: flex;
      align-items: center;
      justify-content: end;
    }

    &__position-end {
      display: flex;
      justify-content: flex-end;
    }

    &__btn {
      max-width: 300px;
      width: 100%;
      text-align: center;
    }

    @media(max-width: 750px) {
      .listTrade__table__position-end {
        justify-content: center;
      }
    }
  }

  .disable-tableName {
    display: block;
  }

  .crypto_coin_icon {
    position: relative;
    top: -2px;
    margin-right: 10px;
    max-height: 40px;
  }

  .justStart {
    display: flex;
    justify-content: start;
    align-items: center;
  }

  .bgMW {
    background: #1d2029;
    min-width: 150px
  }

  @media (max-width: 650px) {
    .bgMW {
      background: #3b3d49;
      min-width: 150px
    }
    
    .disable-tableName {
      display: none !important;
    }

    .table_body {
      border: none;
    }

    .table_row {
      margin-bottom: 10px;
      background: #3b3d49;
      border-radius: var(--borderR);
    }

    .justStart {
      display: flex;
      justify-content: center;
    }

    .listTrade__table__row {
      grid-template-columns: 1fr 1fr;
      grid-auto-flow: row;
    }

    .listTrade__table__index,
    .listTrade__table__btn {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .listTrade__table__name {
      display: flex;
      justify-content: center;
      // align-items: center;
    }

    // .trades-chart {
    //   height: 50px;
    //   position: absolute;
    //   padding-right: 55px;
    // }
  }

  @media (max-width: 450px) {

    .listTrade__table__row {
      grid-template-columns: 1fr;
      grid-auto-flow: row;
    }
    .listTrade__table__btn{
      max-width: 100%;
    }
    .trades-chart {
      height: 70px;
      position: static;
      padding: 0 0 5px 0;
    }
  }

}

.trades {
  padding-bottom: 100px;
  position: relative;

  &-chart {
    filter: hue-rotate(226deg) saturate(210%) brightness(0.7) contrast(170%);
  }
}

.tag__button {
  display: flex;
  align-items: center;
  position: relative;
  padding: 0 25px;
  height: 42px;
  border: 1px solid #63697A;
  background: #363B4B;
  border-radius: 50px;
  font-weight: 600;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  cursor: pointer;
  transition: 1s;
  z-index: 1;

  @media (max-width: 750px) {
    padding: 0 12px;
    height: 30px;
    font-size: 18px;
    line-height: 14px;
    border: 0;
  }
}

.tag__button:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 42px;
  background: linear-gradient(89.03deg, #2c66b8 0.54%, #8859ec 97.66%);
  left: 0;
  top: -1px;
  z-index: -10;
  border-radius: 50px;
  opacity: 0;
  transition: 1s;

  @media (max-width: 750px) {
    height: 30px;
  }
}

.tag__button span {
  color: #D0D0D0;
  line-height: 42px;

  @media (max-width: 750px) {
    line-height: 26px;
    font-size: 14px;
  }
}

@media (max-width: 650px) {
  .listTrade {
    padding-top: 10px !important;
  }
}

​ .tag__button:hover {
  background: none;
  border-color: transparent;
}

.tag__button:hover span {
  background: none;
  -webkit-text-fill-color: #FFF;
}

.tag__button:hover::after {
  opacity: 1;
}

.tag__button_active {
  background: none;
  border-color: transparent;
}

.tag__button_active span {
  background: none;
  -webkit-text-fill-color: #FFF;
}

.tag__button_active::after {
  opacity: 1;
}