.affiliate {
  &__card {
    margin: 0 auto;
    width: 90%;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0 2.5rem;
    padding-top: 5rem;
    border-radius: 3.8125rem;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      z-index: -1;
      top: 0;
      background-image: url("./images/affiliateBg.png");
      background-position: -3.125rem -1.875rem;
      background-repeat: no-repeat;
      border-radius: 5rem;
      width: 100%;
      height: 100%;
    }
    &-title {
      font-weight: bold;
      font-size: clamp(1.5rem, 2vw, 2rem);
      margin-bottom: 0.75rem;
    }
    &-text {
      font-weight: normal;
      font-size: clamp(0.8rem, 2vw, 1rem);
      line-height: 1.5;
      max-width: 56.125rem;
      margin: 0 auto;
    }
  }
  &__link {
    margin: 3.875rem auto;
    width: 80%;
    max-width: 48.4375rem;
    border-bottom: 0.0625rem solid #484c59;
    padding-bottom: 1.25rem;
    &-wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    &-title {
      text-align: left;
      font-weight: 600;
      font-size: (0.7rem, 2vw, 0.8125rem);
      color: var(--textGray-light);
      margin-bottom: 0.625rem;
      display: block;
    }
    &-text {
      text-decoration: underline;
      white-space: nowrap;
    }
    &-buttons {
      display: flex;
      gap: 1.5rem;
    }
    &-btn {
      height: 2.125rem;
      width: 2.125rem;
      border-radius: 0.3125rem;
      position: relative;
      display: inline-block;
      margin-left: 0.875rem;
      background: var(--blueGradient);
      cursor: pointer;
      border: none;
      display: flex;
      align-items: center;
      justify-content: center;
      & img {
        pointer-events: none;
      }
      &.copy.active {
        &::before {
          content: "Скопировано!";
          font-size: clamp(0.5rem, 2vw, 0.8rem);
          position: absolute;
          bottom: -0.5rem;
          left: 50%;
          color: var(--white);
          border-radius: 0.1875rem;
          padding: 0.155rem 0.2875rem;
          background: var(--gray-600);
          transform: translate(-50%, 100%);
        }
        &::after {
          content: "";
          position: absolute;
          bottom: -0.5rem;
          border: 0.5rem solid transparent;
          border-bottom: 0.5rem solid var(--gray-600);
        }
      }
    }
  }
  &__scores {
    display: flex;
    gap: 3.125rem;
    justify-content: center;
  }
  &__score {
    max-width: 25rem;
    width: 100%;
    height: 12.5rem;
    border-radius: var(--borderR);
    overflow: hidden;
    position: relative;
    padding: 2.1875rem;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: -0.3125rem;
      z-index: -1;
      width: 100%;
      height: 100%;
    }
    &.count {
      &::before {
        background-image: url("./images/affiliateCount.png");
      }
    }
    &.cemd {
      &::before {
        background-image: url("./images/affiliateCemd.png");
      }
    }
    &-bg {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: -2;
      width: 100%;
      height: 100%;
      background: var(--blueGradient);
      background-clip: padding-box;
    }
    &-title {
      font-weight: 600;
      font-size: clamp(1.8rem, 2vw, 2.25rem);
      width: 100%;
      text-align: left;
      margin-bottom: 0.625rem;
    }
    &-text {
      font-weight: 500;
      font-size: clamp(0.9rem, 2vw, 1rem);
      max-width: 13.5625rem;
      text-align: left;
    }
  }
  &__partners {
    width: 100%;
    background: var(--black-gray);
    border: 0.0625rem solid var(--border-color);
    padding: 1.5625rem;
    border-radius: 1.25rem;
    margin-top: 1.875rem;
    margin-bottom: 1.25rem;
    box-shadow: 0rem 0.25rem 2.75rem #1e222f;
    position: relative;
    &.empty {
      min-height: 21.875rem;
    }
    &-list {
      margin-top: 1.25rem;
      display: flex;
      flex-direction: column;
      gap: 0.625rem;
    }
  }
  &__item {
    display: grid;
    gap: 0.25rem;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    align-items: center;
    &-left {
      display: flex;
      align-items: center;
      gap: 0.625rem;
    }
    &-text {
      font-size: clamp(0.8rem, 2vw, 1rem);
      font-weight: bold;
      text-align: center;
    }
    &-watch {
      margin: 0 auto;
    }
    &-img {
      height: 3.125rem;
      width: 3.125rem;
      border-radius: 50%;
      background: var(--red-500);
    }
  }
  &__empty {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5625rem;
    &-text {
      color: var(--gray);
      font-weight: normal;
      font-size: clamp(1rem, 2vw, 1.125rem);
    }
  }
  &_margin {
    margin-bottom: 5rem;
  }
}

@media (max-width: 970px) {
  .affiliate {
    &__link {
      &-wrapper {
        flex-direction: column;
        gap: 0.625rem;
      }
      &-title {
        text-align: center;
      }
      &-text {
        white-space: unset;
        word-break: break-all;
      }
    }
    &__card {
      padding-top: 3rem;
      background-size: cover;
    }
    &__scores {
      flex-direction: column;
      align-items: center;
    }
    &_margin {
      margin-bottom: 2rem;
    }
  }
}

@media (max-width: 700px) {
  .affiliate {
    &__link {
      margin: 2.5rem auto;
    }
  }
}

@media (max-width: 522px) {
  .affiliate {
    &__card {
      width: 100%;
      background-position: -4.375rem -1.875rem;
      padding-bottom: 0;
      &::before {
        background-position: -3.125rem -0.875rem;
      }
    }
    &__item {
      &-img {
        width: 2.1875rem;
        height: 2.1875rem;
      }
    }
  }
}
