@import "../../assets/scss/utils/mixins.scss";

.jobs {
  &__title {
    font-weight: bold;
    font-size: clamp(2.5rem, 4vw, 4.75rem);
    text-align: center;
    margin: 0 auto;
    margin-bottom: 3.75rem;
    max-width: 43.5rem;
  }
  &__preview {
    position: relative;
    &::before {
      content: "";
      z-index: -1;
      position: absolute;
      left: -27.125rem;
      top: -11.1875rem;
      width: 61.8125rem;
      height: 61.8125rem;
      background: radial-gradient(41.76% 41.76% at 50% 50%, #915dff 0%, rgba(191, 9, 255, 0) 100%);
      filter: blur(17.75rem);
    }
    &-info {
      padding-top: 8.75rem;
      padding-bottom: 17.5rem;
      width: 50%;
      text-shadow: 0.125rem 0.125rem 0.625rem black;
    }
    &-title {
      font-weight: bold;
      font-size: clamp(2.5rem, 6vw, 4.375rem);
      margin-bottom: 1.875rem;
    }
    &-text {
      font-weight: 500;
      font-size: clamp(1rem, 3vw, 1.25rem);
      color: var(--textGray);
    }
    &-wrapper {
      position: relative;
      display: flex;
      justify-content: space-between;
    }
    &-img {
      display: block;
      position: absolute;
      object-fit: contain;
      top: 0;
      left: 50%;
      transform: translateX(calc(4% - 1.25rem));
      max-width: 57.375rem;
      width: 100%;
      height: 47.25rem;
      filter: drop-shadow(5.625rem 3.625rem 7.5rem rgba(255, 70, 12, 0.44));
    }
  }
  &__advantages {
    margin-bottom: 10rem;
    &-list {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      flex-wrap: wrap;
      gap: 0.625rem;
    }
    &-item {
      background: var(--black_light);
      border: 0.0625rem solid var(--border-color);
      border-radius: var(--borderR);
      padding: 1.75rem;
      max-width: 300px;
      width: 100%;
      &:nth-child(odd) {
        justify-self: right;
      }
    }
    &-cover {
      height: 80px;
      width: 80px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      background-color: var(--light-gray);
    }
    &-name {
      font-weight: 600;
      font-size: clamp(1rem, 2vw, 1.25rem);
      color: var(--white);
      line-height: 1.2;
      margin-bottom: 0.5rem;
    }
    &-text {
      font-weight: normal;
      font-size: clamp(0.8rem, 1.5vw, 0.9375rem);
      color: var(--gray);
      max-width: 14.625rem;
      margin-bottom: 0;
    }
  }
  &__how {
    margin-bottom: 10rem;
    &-text {
      background: linear-gradient(129.93deg, #adb6ce 12.75%, rgba(173, 182, 206, 0) 206.18%);
      background-clip: text;
      -webkit-text-fill-color: transparent;
      font-weight: 500;
      font-size: clamp(0.9rem, 2vw, 1rem);
      margin-bottom: 4px;
      display: inline-block;
    }
    &-list {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 20px;
    }
    &-number {
      background: linear-gradient(129.93deg, #adb6ce 12.75%, rgba(173, 182, 206, 0) 206.18%);
      background-clip: text;
      -webkit-text-fill-color: transparent;
      font-weight: bold;
      font-size: 20px;
    }
    &-item {
      position: relative;
      overflow: hidden;
      padding-top: 2.25rem;
      max-width: 20rem;
      // margin: 0 auto;
      &:nth-child(odd) {
        justify-self: right;
      }
      &::before {
        position: absolute;
        top: 0;
        left: 0;
        content: "";
        width: 1.5rem;
        height: 1.5rem;
        border-radius: 50%;
        background: var(--mainGradient);
      }
      &::after {
        position: absolute;
        top: 0;
        left: 3rem;
        width: 11.4375rem;
        height: 1.5rem;
        content: "";
        background: no-repeat
          url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxODMiIGhlaWdodD0iMiIgZmlsbD0ibm9uZSI+PHBhdGggc3Ryb2tlPSJ1cmwoI2EpIiBzdHJva2UtZGFzaGFycmF5PSIyIDgiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLXdpZHRoPSIyIiBkPSJNMSAxaDE4MSIgb3BhY2l0eT0iLjQiLz48ZGVmcz48bGluZWFyR3JhZGllbnQgaWQ9ImEiIHgxPSIwIiB4Mj0iMTcuMDY3IiB5MT0iMi42NzgiIHkyPSItNTAuMTc3IiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSI+PHN0b3Agc3RvcC1jb2xvcj0iIzY3OUZFRiIvPjxzdG9wIG9mZnNldD0iMSIgc3RvcC1jb2xvcj0iI0E4N0ZGRiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjwvc3ZnPg==)
          left center;
      }
    }
  }
  &__professions {
    margin-bottom: 10rem;
    &-cover {
      display: flex;
      align-items: center;
      gap: 1.5rem;
      height: 100%;
      padding: 1.0625rem 1.875rem;
      background: #242834;
      border-radius: var(--borderR);
      transition: 1s;
    }
    &-list {
      display: grid;
      gap: 1.375rem;
      grid-template-columns: repeat(3, 1fr);
    }
    &-item {
      padding: 0.0625rem;
      background: linear-gradient(106.76deg, rgba(112, 128, 176, 0.4) 0%, rgba(40, 28, 71, 0) 109.61%);
      border-radius: 0.9375rem;
      cursor: pointer;
      text-decoration: none;
      color: inherit;
      &:hover {
        background: linear-gradient(89.03deg, #2c66b8 0.54%, #8859ec 97.66%);
      }
      &:hover .jobs__professions-cover {
        background-color: transparent;
      }
    }
    &-text {
      font-weight: 500;
      font-size: clamp(0.9rem, 1.4vw, 1.125rem);
    }
  }
  &__vacancies {
    line-height: 1.3;
    font-size: clamp(0.9rem, 2vw, 1.1rem);
    &-title {
      display: inline-block;
      &_big {
        font-weight: bold;
        font-size: clamp(3rem, 5vw, 4.75rem);
        text-align: center;
        margin: 0 auto;
        max-width: 43.5rem;
        padding: 5rem 0;
      }
    }
    &-top {
      position: relative;
      display: flex;
      justify-content: space-between;
      gap: 0.625rem;
      align-items: center;
      margin-bottom: 1.25rem;
    }
    &-item {
      margin-bottom: 0.625rem;
      padding: 1.25rem;
      background: var(--black-gray);
      border: 1px solid var(--border-color);
      border-radius: var(--borderR);
    }
    &-status {
      text-transform: uppercase;
      font-weight: 800;
      text-decoration: none;
      background: linear-gradient(225deg, #72ffb6 0%, #10d194 100%);
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    &-text_gray {
      color: var(--textGray-light);
    }
    &-text_little {
      font-size: clamp(0.8rem, 2vw, 0.875rem);
      margin-bottom: 0.4375rem;
      &:last-child {
        margin-bottom: 0;
      }
    }
    &-experience {
      margin-bottom: 0.625rem;
    }
    &-texttop {
      margin-bottom: 1rem;
    }
    &-textbottom {
      margin-bottom: 1rem;
    }
    &-wrapper {
      display: flex;
      margin-bottom: 1.25rem;
      justify-content: space-between;
    }
    &-cover {
      border: 1px solid var(--border-color);
      background: var(--light-gray-2);
      padding: 0.625rem;
      border-radius: 0.3125rem;
      margin-right: 0.625rem;
    }
    &-subtitle {
      font-weight: 600;
      font-size: (0.9rem, 2vw, 1.0625rem);
      margin-bottom: 1rem;
    }
    &-skills {
      display: flex;
      flex-wrap: wrap;
      gap: 0.3125rem;
    }
    &-skill {
      background-color: var(--light-gray-2);
      padding: 0.3125rem;
      border: 0.0625rem solid var(--light-gray-2);
      border-radius: 0.3125rem;
    }
  }
}

@media (max-width: 1240px) {
  .jobs {
    &__preview {
      &-img {
        max-width: 32.8125rem;
        height: 40.625rem;
        transform: translateX(calc(4% - 1.25rem));
      }
    }
    &__advantages {
      &-list {
        grid-template-columns: repeat(2, 1fr);
      }
    }
    &__how {
      &-list {
        grid-template-columns: repeat(2, 1fr);
      }
    }
    &__professions {
      &-list {
        grid-template-columns: repeat(2, 1fr);
      }
    }
    &__vacancies {
      &-wrapper {
        flex-direction: column;
        gap: 0.625rem;
      }
    }
  }
}

@media (max-width: 762px) {
  .jobs {
    &__preview {
      &-info {
        padding-top: 1.875rem;
        width: 100%;
        text-align: center;
        padding-bottom: 6.5rem;
      }
      &-img {
        display: none;
      }
    }
  }
}

@media (max-width: 600px) {
  .jobs {
    &__advantages {
      &-list {
        grid-template-columns: repeat(1, 1fr);
      }
      &-item {
        justify-self: center;
        &:nth-child(odd) {
          justify-self: center;
        }
      }
    }
    &__how {
      &-list {
        grid-template-columns: repeat(1, 1fr);
      }
      &-item {
        justify-self: center;
        &:nth-child(odd) {
          justify-self: center;
        }
      }
    }
    &__professions {
      &-list {
        grid-template-columns: repeat(1, 1fr);
      }
    }
    &__vacancies {
      &-status {
        position: absolute;
        top: -0.5rem;
        right: 0;
      }
    }
  }
}
