.icon-user-answer {
    min-width: 57px;
    height: 74px;
    margin-left: 0;
    margin-right: 15px;
    width: 67px;
    position: relative;
}

.answer-text {
    position: relative;
    margin-top: 20px;
}