.questions-table {

    border: 1px solid #323746;
    border-radius: 15px;
    margin-top: 8px;
    margin-bottom: 60px;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;

    &__avatar {
        display: flex;
        align-items: flex-end;

        .comment-avatar {
            padding-left: 0 !important;
        }
    }

    &__counter {
        text-align: center;
        position: relative;

        span {
            position: absolute;
            top: 35px;
        }

        &_desc {
            display: none;
        }
    }

    &__created {
        position: relative;
        margin-top: 10px;
    }

    &__main {
        position: relative;
        top: 20px;

        a {
            text-decoration: none;
            color: inherit;
        }
    }

    &__item {
        padding: 30px 25px;
        padding-top: 15px;
        position: relative;
        display: grid;
        grid-template-columns: 50% 10% 15% 20% 5%;

        &:nth-child(odd) {
            background-color: #323746;
        }

        &:first-child {
            border-top-left-radius: 15px;
            border-top-right-radius: 15px;
        }
    }

    &__labels {
        display: grid;
        grid-template-columns: 50% 10% 15% 20% 5%;
        font-size: 12px;
        line-height: 20px;
        color: #FFFFFF;

        span:nth-child(1) {
            position: relative;
            left: 28px;
        }

        span:nth-child(2) {
            text-align: center;
        }

        span:nth-child(3) {
            text-align: center;
        }
    }
}

.comment_avatar {
    width: 80px;
    left: -15px;
}

@media (max-width: 767px) {
    .questions-table__title {
        padding-right: 20px;
    }

    .questions-table__avatar {
        padding-right: 50px;
        margin-bottom: 25px;
    }

    .questions-table__counter {
        display: inline-block;
        margin-top: 20px;
        margin-right: 25px;
        text-align: left;

        span {
            position: relative;
            top: 0;
        }
    }

    .questions-table__counter_desc {
        display: inline;
        padding-right: 10px;
    }

    .questions-table__counter_number {
        font-weight: 700;
        font-size: 15px;
    }

    .questions-table__labels {
        display: none !important;
    }

    .questions-table .questions-table__item {
        border-radius: 0;
    }

    .questions-table__item {
        display: block !important;
    }

    .questions-table__main {
        top: 0;
    }
}

@media (max-width: 970px) {
    .questions-table__labels {
        display: grid;
        grid-template-columns: 40% 10% 15% 30% 5%;
        font-size: 12px;
        line-height: 20px;
        color: #FFFFFF;
    }

    .questions-table__item {
        display: grid;
        grid-template-columns: 40% 10% 15% 30% 5%;
    }
}