@import "./css/security.scss";

.profile-main {
    flex: 1 1 auto;

    &__container {
        margin-left: auto;
        margin-right: auto;
        color: rgb(255, 255, 255);
        display: flex;
        flex-flow: column wrap;
        padding-top: 20px;
    }

    // &__body {
    //     margin-top: 10px
    // }

    &__settings {
        display: flex;
        width: 100%;

        &__gradient-line {
            display: none;
            position: absolute;
            left: 0px;
            height: 100%;
            background: linear-gradient(89.03deg, #2C66B8 0.54%, #8859EC 97.66%);
            width: 3px;
            z-index: 1;
            bottom: 0;
        }

        &__list {
            border-radius: 12px;
            width: 268px;
            background: rgb(43, 48, 64);
            position: relative;

            &__item {
                position: relative;
                margin-bottom: 13px;
                padding-left: 22px;
                padding-right: 10px;
                z-index: 2;

                &:last-child {
                    padding-bottom: 8px;
                    border-radius: 12px 12px !important;
                }

                &:nth-child(1) {
                    padding-top: 22px;
                    border-radius: 12px 12px 0 0;
                    padding-top: 8px;
                    border-radius: 12px 12px 0 0;
                }

                .profile-main__settings__list__title::after {
                    top: 4px !important;
                    right: 16px !important;
                    transform: rotate(90deg);
                }

                .profile-main__settings__list__title::before,
                .profile-main__settings__list__title::after {
                    position: absolute;
                    content: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNCIgaGVpZ2h0PSIzIiBmaWxsPSJub25lIj48cGF0aCBzdHJva2U9InVybCgjYSkiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLXdpZHRoPSIyLjUiIGQ9Ik0xLjI1IDEuNzVoMTEuNSIvPjxkZWZzPjxsaW5lYXJHcmFkaWVudCBpZD0iYSIgeDE9IjAiIHgyPSIxMy4wOTMiIHkxPSIzLjY3OCIgeTI9Ii41NzYiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIj48c3RvcCBzdG9wLWNvbG9yPSIjNjc5RkVGIi8+PHN0b3Agb2Zmc2V0PSIxIiBzdG9wLWNvbG9yPSIjQTg3RkZGIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PC9zdmc+);
                    top: 0;
                    right: 20px;
                    padding: 3px 0;
                }

                &_active {
                    background: linear-gradient(107.19deg, #444A5F 1.5%, #2B3040 109.67%);
                    overflow: hidden;

                    .profile-main__settings__list__title::after {
                        display: none;
                    }

                    .profile-main__settings__gradient-line {
                        display: block;
                    }
                }

            }

            &__title {
                position: relative;
                font-weight: 600;
                font-size: 16px;
                line-height: 32px;
                margin: 0;
                cursor: pointer;
                padding-top: 8px;
                padding-bottom: 5px;
                color: #CBD1E2;

                // &::after {
                //     top: 4px;
                //     right: 16px;
                //     transform: rotate(90deg);
                // }
            }

            &__subcategory {
                display: none;
                padding-left: 9px;
                padding-bottom: 10px;

                p {
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 28px;
                    margin-bottom: 5px;
                    cursor: pointer;
                }
            }
        }
    }

}

.profile-main__settings__list__item_active .profile-main__settings__list__title {
    margin-bottom: 5px;
    color: #ffffff;
}




.profile-main__settings__list__item_active .profile-main__settings__list__subcategory {
    display: block;
}

.profile-main__settings__list__item_active .profile-main__settings__list__subcategory--active {
    background: linear-gradient(56.57deg, #2973FF 0%, #8846D3 51.56%, #FF22AC 105.28%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@media (max-width: 1010px) {
    .profile-main__container {
        flex-wrap: wrap;
    }

    .profile-main__settings {
        flex-wrap: wrap;
    }

    .security-block {
        margin-left: 0;
    }
}