.secondary-award {
  position: relative;
  transform-origin: center bottom;
  backface-visibility: hidden;
  overflow: hidden;
  transform-style: preserve-3d;
  transition-property: transform;
  overflow: hidden;
  box-sizing: content-box;
  flex-shrink: 0;
}

.containerA {
  transition-property: transform;
  transition-timing-function: 1;
  transform-style: preserve-3d;
}