.cube {
  position: relative;
  width: calc(100vw * 0.3);
  height: calc(100vw * 0.3);
  transform-style: preserve-3d;
  transform: rotateX(0deg) rotateY(0deg);
  animation: rotate 10s infinite linear;
}

.face {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid #ccc;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.front {
  transform: translateZ(calc(100vw * 0.15));
}

.right {
  transform: rotateY(90deg) translateZ(calc(100vw * 0.15));
}

// .back {
//   transform: rotateY(180deg) translateZ(calc(100vw * 0.15));
// }

.left {
  transform: rotateY(-90deg) translateZ(calc(100vw * 0.15));
}

@keyframes rotate {
  from {
    transform: rotateX(0deg) rotateY(360deg);
  }

  to {
    transform: rotateX(0deg) rotateY(0deg);
  }
}
